<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div style="text-align: center">
        <h4 style="color: green; margin-top: 2%;margin-right: 12%;">{{successMsg}}</h4>
    </div>
    <div style="text-align: center">
        <h4 style="color: crimson;margin-top: 2%;margin-right: 12%;">{{errorMsg}}</h4>
    </div>

<div style="text-align: left;margin-top: 5%;margin-left: 23%;">
    <h4>View All the Books Existed in the Library.</h4>
</div>
</div>
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Book Cover Title</th>
            <th>Book Publisher</th>
            <th>No . Pages</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.bookId}}</td>
            <td>{{book.title}}</td>
            <td>{{book.cover}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.pages}}</td>
            <td class="text-center">
                <button  style="margin-bottom: 10px;" class="btn btn-ls center blue" (click)="gotoDetails(book.bookId)"><span class="glyphicon glyphicon-edit blue"></span> Edit</button>
                <br>
                <button class="btn btn-danger btn-xs" (click)="deleteBook(book.bookId)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
              
            </td>
          </tr>
    </tbody>
    </table>
    
    </div>
</div>



