<html>
<title>Search Page</title>
<head>
<script src="/js/angular.js"></script>
<script src="/js/myapp.js"></script>
<script src="/js/jquery-1.11.2.min.js"></script>
<script data-require="ui-bootstrap@*" data-semver="0.12.1"
	src="/js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/my.css">
<link rel="stylesheet"	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body ng-app="Library" ng-controller="LibraryControler">
	<div style="border-bottom: 3px solid grey;">
		<H1 align="center">Library Application</H1>
	</div>
	<div>
		<h3 style="margin-left:15px;">Please Select Appropriate Actions.</h3>
	</div>
	<div>
	<div class="btn-group" role="group" aria-label="Basic example">
  		<button type="button" class="btn btn-primary">All Books</button>
  		<button type="button" class="btn btn-primary">Add New Book</button>
  		<button type="button" class="btn btn-primary">No of Books</button>
  		<button type="button" class="btn btn-primary">Update Books</button>
  		<button type="button" class="btn btn-primary">Delete Existing Book</button>
  	</div>
	</div>
	
</body>



</html>